<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SQL_RES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SQL_RES</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list class="center">
  <ion-item >
    <ion-button color="warning">Partes</ion-button>
  </ion-item>
  <ion-item >
  <ion-button color="warning" [routerLink]="['/checklists']">CheckLists</ion-button>
  </ion-item>
</ion-list>
  <!--<app-users></app-users>!-->
</ion-content>